<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PathToBlogRecords" value="records" />
    <add key="ImagesDirectory" value="images" />
    <add key="BlogTocTitle" value="Welcome!" />
    <add key="DisqusShortname" value="onefileblog" />
    <add key="BootswatchTheme" value="United" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
    <httpRedirect enabled="true" httpResponseStatus="Found">
      <add wildcard="/" destination="/blog" />
    </httpRedirect>
  </system.webServer>
</configuration>
